altair
azure-identity
bcpandas
bokeh
celery
cramjam
crispy-bootstrap4
crispy-bootstrap5
curlify
cyberpandas
dagster
dagster-deltalake
dagster-deltalake-pandas
dagster-duckdb
dagster-duckdb-pandas
dagster-webserver
dagster-postgres
dagster-pandas
dagster-sqlalchemy
dash>=2.16.1
dash-callbackmanager
dash-extensions
dash-iconify
dash-mantine-components
dash-down
deltalake
delta-sharing
delta-spark
dockerspawner
Django>=5.0
django-bootstrap4
django-autocomplete-light
django-celery-results
django-cors-headers
django_crispy_forms
django_debug_toolbar
django-environ
django_extensions
django-filebrowser
django-filter
django-grappelli
django_import_export
django-model-utils
django-pandas
django_plotly_dash
djangorestframework
django-select2
django_simple_history
django-sphinxdoc
django-tables2
django-tables3
django-tinymce4-lite
django-wkhtmltopdf
dpd-static-support
dtale
duckdb
engarde
fastapi
fastparquet
gql
graphene
gunicorn
ipykernel
ipython
jupyterhub>=4.1.0
jupyterlab>=4.1.5
jupyterlab-dash
jupyterlab-retrieve-base-url
jupyterlab-git
JayDeBeApi
JPype1
koalas
ldap3
matplotlib
maturin
modin
munch
netifaces
nslookup
numpy
omegaconf
openapi-python-client
openpyxl
pandas
pandas-path
pdfkit
pendulum
Pillow
pipreqs
polars
psycopg2-binary
pyarrow
pycurl
pydantic
pydeck
pydrill
pyjanitor
pyjwt
pymysql
pyodbc
pyspark
python_dateutil
python-ldap
python-memcached
pyzmq
rdflib
rdflib-endpoint
rdfpandas
redis
scikit-learn
scipy
seaborn
setuptools_scm
sparql-client
sparqlwrapper
Sphinx
sphinxcontrib-django
sphinxcontrib-htmlhelp
sphinxcontrib-serializinghtml
sphinx-rtd-theme
sqlalchemy
sqlalchemy-jdbcapi
strawberry-graphql
streamlit
tensorflow
thrift
tini
torch
unicodecsv
uvicorn[standard]
whitenoise
XlsxPandasFormatter
XlsxWriter
xlwings
